<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DAutos - Revista de Autos Cusco</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Price Slider Stylesheets -->
    <link rel="stylesheet" href="/assets/css/nouislider.css">
    <!-- Google fonts - Playfair Display-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
    <!-- Google fonts - Poppins-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700">
    <!-- swiper-->
    <link rel="stylesheet" href="/assets/css/swiper.min.css">
    <!-- Magnigic Popup-->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/assets/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/assets/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/assets/favicons/img-favicon.png">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <style>
        .sub-title {
            font-size: 64px;
            line-height: 80px;
            font-weight: bold;
            text-align: left;
        }
        .car-image {
            height: 160px;
            -webkit-transition: cubic-bezier(0.5, 0, 0.66, 1) all 0.3s;
            -moz-transition: cubic-bezier(0.5, 0, 0.66, 1) all 0.3s;
            -o-transition: cubic-bezier(0.5, 0, 0.66, 1) all 0.3s;
            -ms-transition: cubic-bezier(0.5, 0, 0.66, 1) all 0.3s;
            transition: cubic-bezier(0.5, 0, 0.66, 1) all 0.3s;
            background-position: center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            overflow: hidden;
        }
    </style>
</head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

<!-- jQuery-->
<script src="/assets/js/jquery-jquery.min.js"></script>
<!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
<script src="/assets/js/js-bootstrap.bundle.min.js"></script>
<!-- Magnific Popup - Lightbox for the gallery-->
<script src="/assets/js/magnific-popup-jquery.magnific-popup.min.js"></script>
<!-- Smooth scroll-->
<script src="/assets/js/smooth-scroll-smooth-scroll.polyfills.min.js"></script>
<!-- Bootstrap Select-->
<script src="assets/js/js-bootstrap-select.min.js"></script>
<!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
<script src="assets/js/object-fit-images-ofi.min.js"></script>
<!-- Swiper Carousel                       -->
<script src="assets/js/js-swiper.min.js"></script>
<script src="assets/js/jquery.cookie-jquery.cookie.js">
</script>
<script src="assets/js/demo.dautos.js"></script>
<!-- Main Theme JS file    -->
<script src="assets/js/theme.dautos.js"></script>
</body>

</html>
