<template>
  <div class="home">
        <!-- Slider main container-->
    <section class="hero-home">
        <div class="swiper-container hero-slider">
            <div class="swiper-wrapper dark-overlay">
                <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1529369623266-f5264b696110?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80)"></div>
                <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1587580945215-5d4aabb2c8ef?ixlib=rb-1.2.1&auto=format&fit=crop&w=1302&q=80)"></div>
                <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1586687798886-5a34d5b97337?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)"></div>
                <div class="swiper-slide" style="background-image:url(https://images.unsplash.com/photo-1586771451232-cd2887ebcc6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1351&q=80)"></div>
            </div>
        </div>
        <div class="container py-6 py-md-7 text-white z-index-20">
            <div class="row">
                <div class="col-xl-10">
                    <div class="text-center text-lg-left">
                        <p class="subtitle letter-spacing-4 mb-2 text-secondary text-shadow">Bienvenido a tu próximo Auto</p>
                        <h1 class="display-3 font-weight-bold text-shadow">Busca el auto que más te convenga</h1>
                    </div>
                    <div class="search-bar mt-5 p-3 p-lg-1 pl-lg-4">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-4 d-flex align-items-center form-group">
                                    <input class="form-control border-0 shadow-0" type="text" name="search" placeholder="¿Qué auto estás buscando?"></div>
                                <div class="col-lg-3 d-flex align-items-center form-group">
                                    <div class="input-label-absolute input-label-absolute-right w-100">
                                        <label class="label-absolute" for="location"><i class="fa fa-crosshairs"></i><span class="sr-only">City</span></label>
                                        <input class="form-control border-0 shadow-0" type="text" name="location" placeholder="Ciudad" id="location"></div>
                                </div>
                                <div class="col-lg-3 d-flex align-items-center form-group no-divider">
                                    <select class="selectpicker" title="Tipo de Auto" data-style="btn-form-control"><option value="small">4x4</option><option value="medium">Convertible</option><option value="large">Deportivos</option><option value="x-large">SUV</option></select></div>
                                <div class="col-lg-2">
                                    <button class="btn btn-primary btn-block rounded-xl h-100" type="submit">Buscar </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Places-->
    <section class="py-6 bg-gray-100">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8">
                    <!-- <p class="subtitle text-primary">Stay and eat like a local</p> -->
                    <h2 class="sub-title">El auto ideal para cada momento.</h2>
                </div>
                <div class="col-md-4 d-lg-flex align-items-center justify-content-end"><a class="text-muted text-sm" href="category.html">
               See all guides<i class="fas fa-angle-double-right ml-2"></i></a></div>
            </div>
            <div class="swiper-container guides-slider mx-n2 pt-3">
                <!-- Additional required wrapper-->
                <div class="swiper-wrapper pb-5">
                    <!-- Slides-->
                    <div class="swiper-slide h-auto px-2">
                        <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0"><a class="tile-link" href="category.html"></a><img class="bg-image" src="/assets/images/moment-1.jpg" alt="Card image">
                            <div class="card-body overlay-content">
                                <h6 class="card-title text-shadow text-uppercase">
                                    Mi primer auto</h6>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide h-auto px-2">
                        <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0"><a class="tile-link" href="category.html"></a><img class="bg-image" src="/assets/images/moment-2.jpg" alt="Card image">
                            <div class="card-body overlay-content">
                                <h6 class="card-title text-shadow text-uppercase">Elíge tu Aventura</h6>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide h-auto px-2">
                        <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0"><a class="tile-link" href="category.html"></a><img class="bg-image" src="/assets/images/moment-3.jpg" alt="Card image">
                            <div class="card-body overlay-content">
                                <h6 class="card-title text-shadow text-uppercase">Disfruta con Amigos</h6>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide h-auto px-2">
                        <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0"><a class="tile-link" href="category.html"></a><img class="bg-image" src="/assets/images/moment-4.jpg" alt="Card image">
                            <div class="card-body overlay-content">
                                <h6 class="card-title text-shadow text-uppercase">Para toda la familia</h6>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide h-auto px-2">
                        <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0"><a class="tile-link" href="category.html"></a><img class="bg-image" src="/assets/images/moment-5.jpg" alt="Card image">
                            <div class="card-body overlay-content">
                                <h6 class="card-title text-shadow text-uppercase">Pasión por los fierros</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination d-md-none"> </div>
            </div>
        </div>
    </section>

    <section class="py-6">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8">
                    <p class="subtitle text-primary">Mira los ultimos anuncios de autos</p>
                    <h2 class="sub-title">Anuncios destacados</h2>
                </div>
                <div class="col-md-4 d-lg-flex align-items-center justify-content-end"><a class="text-muted text-sm" href="category.html">
               See all deals<i class="fas fa-angle-double-right ml-2"></i></a></div>
            </div>
            <!-- Slider main container-->
            <div class="swiper-container swiper-container-mx-negative swiper-init pt-3" data-swiper='{"slidesPerView":4,"spaceBetween":20,"loop":true,"roundLengths":true,"breakpoints":{"1200":{"slidesPerView":3},"991":{"slidesPerView":2},"565":{"slidesPerView":1}},"pagination":{"el":".swiper-pagination","clickable":true,"dynamicBullets":true}}'>
                <!-- Additional required wrapper-->
                <div class="swiper-wrapper pb-5">
                    <!-- Slides-->
                    
                    <div class="swiper-slide h-auto px-2">
                        <!-- place item-->
                        <div class="w-100 h-100 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                            <div class="card h-100 border-0 shadow">
                                <div class="card-img-top overflow-hidden gradient-overlay">
                                <div class="car-image" style="background-image: url(images/anuncios/auto_1.jpg);">
                                </div>
                                <a class="tile-link" href="detail-rooms.html"></a>
                                </div>
                                <a class="text-decoration-none text-muted" href="#">
                                    <div class="card-body d-flex align-items-center pt-2 pb-2">
                                        <div class="w-100">
                                            <small class="flex-grow-1 mb-0 text-muted text-sm mt-0">2020 Toyota</small>
                                            <h6 class="card-title mb-0 text-dark">
                                            Toyota  X 55
                                            </h6>
                                            <small>Otras Versiones</small>
                                            <p class="card-text text-muted mt-2"><span class="h4 text-secondary"><span>$</span>10,000</span></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide h-auto px-2">
                        <!-- place item-->
                        <div class="w-100 h-100 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                            <div class="card h-100 border-0 shadow">
                                <div class="card-img-top overflow-hidden gradient-overlay">
                                <div class="car-image" style="background-image: url(images/anuncios/auto_2.jpg);">
                                </div>
                                <a class="tile-link" href="detail-rooms.html"></a>
                                </div>
                                <a class="text-decoration-none text-muted" href="#">
                                    <div class="card-body d-flex align-items-center pt-2 pb-2">
                                        <div class="w-100">
                                            <small class="flex-grow-1 mb-0 text-muted text-sm mt-0">2020 Toyota</small>
                                            <h6 class="card-title mb-0 text-dark">
                                            Toyota  X 55
                                            </h6>
                                            <small>Otras Versiones</small>
                                            <p class="card-text text-muted mt-2"><span class="h4 text-secondary"><span>$</span>10,000</span></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide h-auto px-2">
                        <!-- place item-->
                        <div class="w-100 h-100 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                            <div class="card h-100 border-0 shadow">
                                <div class="card-img-top overflow-hidden gradient-overlay">
                                <div class="car-image" style="background-image: url(images/anuncios/auto_3.jpg);">
                                </div>
                                <a class="tile-link" href="detail-rooms.html"></a>
                                </div>
                                <a class="text-decoration-none text-muted" href="#">
                                    <div class="card-body d-flex align-items-center pt-2 pb-2">
                                        <div class="w-100">
                                            <small class="flex-grow-1 mb-0 text-muted text-sm mt-0">2020 Toyota</small>
                                            <h6 class="card-title mb-0 text-dark">
                                            Toyota  X 55
                                            </h6>
                                            <small>Otras Versiones</small>
                                            <p class="card-text text-muted mt-2"><span class="h4 text-secondary"><span>$</span>10,000</span></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide h-auto px-2">
                        <!-- place item-->
                        <div class="w-100 h-100 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                            <div class="card h-100 border-0 shadow">
                                <div class="card-img-top overflow-hidden gradient-overlay">
                                <div class="car-image" style="background-image: url(images/anuncios/auto_4.jpg);">
                                </div>
                                <a class="tile-link" href="detail-rooms.html"></a>
                                </div>
                                <a class="text-decoration-none text-muted" href="#">
                                    <div class="card-body d-flex align-items-center pt-2 pb-2">
                                        <div class="w-100">
                                            <small class="flex-grow-1 mb-0 text-muted text-sm mt-0">2020 Toyota</small>
                                            <h6 class="card-title mb-0 text-dark">
                                            Toyota  X 55
                                            </h6>
                                            <small>Otras Versiones</small>
                                            <p class="card-text text-muted mt-2"><span class="h4 text-secondary"><span>$</span>10,000</span></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="swiper-slide h-auto px-2">
                        <!-- place item-->
                        <div class="w-100 h-100 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                            <div class="card h-100 border-0 shadow">
                                <div class="card-img-top overflow-hidden gradient-overlay">
                                <div class="car-image" style="background-image: url(images/anuncios/auto_5.jpg);">
                                </div>
                                <a class="tile-link" href="detail-rooms.html"></a>
                                </div>
                                <a class="text-decoration-none text-muted" href="#">
                                    <div class="card-body d-flex align-items-center pt-2 pb-2">
                                        <div class="w-100">
                                            <small class="flex-grow-1 mb-0 text-muted text-sm mt-0">2020 Toyota</small>
                                            <h6 class="card-title mb-0 text-dark">
                                            Toyota  X 55
                                            </h6>
                                            <small>Otras Versiones</small>
                                            <p class="card-text text-muted mt-2"><span class="h4 text-secondary"><span>$</span>10,000</span></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- If we need pagination-->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <section class="py-6 bg-gray-100">
        <div class="container">
            <div class="row mb-6">
              <div class="col-lg-8">
                <h2 class="sub-title">Publica tus anuncios con nosotros</h2>
                <p class="text-muted mb-0">Vende más rapido, publica tus anuncios en la web, revista y también en nuestras redes sociales.</p>
              </div>
            </div>
          </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <!-- pricing card-->
              <div class="card mb-5 mb-lg-0 border-0 shadow">
                <div class="card-body">
                  <h2 class="text-base subtitle text-center text-primary py-3">GRATIS</h2>
                  <p class="text-muted text-center"><span class="h1 text-dark">S/ 0.00</span></p>
                  <hr>
                  <ul class="fa-ul my-4">
                    <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Visible en la web</li>
                    <li class="mb-3 text-muted"><span class="fa-li text-muted"><i class="fas fa-times"></i></span>Visible en la revista</li>
                    <li class="mb-3 text-muted"><span class="fa-li text-muted"><i class="fas fa-times"></i></span>Promoción en nuestras redes sociales</li>
                  </ul>
                  <div class="text-center"><a class="btn btn-outline-primary" href="#">Seleccionar</a></div>
                </div>
              </div>
              <!-- /pricing card -->
            </div>
            <div class="col-lg-4">
              <!-- pricing card-->
              <div class="card mb-5 mb-lg-0 border-0 card-highlight shadow-lg">
                <div class="card-status bg-primary"></div>
                <div class="card-body">
                  <h2 class="text-base subtitle text-center text-primary py-3">Destacado</h2>
                  <p class="text-muted text-center"><span class="h1 text-dark">S/. 15.00</span></p>
                  <hr>
                  <ul class="fa-ul my-4">
                    <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Visible en la web</li>
                    <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Visible en la revista</li>
                    <li class="mb-3 text-muted"><span class="fa-li text-muted"><i class="fas fa-times"></i></span>Promoción en nuestras redes sociales</li>
                  </ul>
                  <div class="text-center"><a class="btn btn-outline-primary" href="#">Seleccionar</a></div>
                </div>
              </div>
              <!-- /pricing card -->
            </div>
            <div class="col-lg-4">
              <!-- pricing card-->
              <div class="card mb-5 mb-lg-0 border-0 shadow">
                <div class="card-body">
                  <h2 class="text-base subtitle text-center text-primary py-3">Premium</h2>
                  <p class="text-muted text-center"><span class="h1 text-dark">S/ 50.00</span></p>
                  <hr>
                  <ul class="fa-ul my-4">
                    <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Visible en la web</li>
                    <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Visible en la revista</li>
                    <li class="mb-3"><span class="fa-li text-primary"><i class="fas fa-check"></i></span>Promoción en nuestras redes sociales</li>
                  </ul>
                  <div class="text-center"><a class="btn btn-outline-primary" href="#">Seleccionar</a></div>
                </div>
              </div>
              <!-- /pricing card -->
            </div>
          </div>
        </div>
      </section>


      <section class="bg-white">
        <div class="container bg-white py-6 px-3 px-lg-5">
          <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0 text-center text-lg-left">
              <p class="subtitle text-secondary">Empieza a publicar tus anuncios</p>
              <p class="text-lg">En DAutos, podrás publicar anuncios ilimitandamente sin costo alguno.</p>
              <p class="text-muted mb-0">Tenemos miles de usuarios visitándonos cada día, anuncia hoy y llega a más personas.</p>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
              <div class="text-center">
                <p class="mb-2"><a class="btn btn-lg btn-primary" href="#">Crear mi cuenta</a></p>
                <p class="text-muted text-small">Es Gratis! </p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="py-6 bg-gray-100">
        <div class="container">
          <!-- <h5 class="text-center text-uppercase letter-spacing-3 mb-5">As seen on</h5> -->
          <!-- Brands Slider-->
          <div class="swiper-container brands-slider align-items-center d-flex">
            <div class="px-3">
                <img class="img-fluid w-6rem opacity-5" src="https://logodownload.org/wp-content/uploads/2014/04/Toyota-Logo-4.png" alt="Brand 1">
            </div> 
            <div class="px-3">
                <img class="img-fluid w-6rem opacity-5" src="https://logodownload.org/wp-content/uploads/2014/09/nissan-logo-1.png" alt="Brand 1">
            </div> 
            <div class="px-3">
                <img class="img-fluid w-6rem opacity-5" src="https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c479.png" alt="Brand 1">
            </div> 
            <div class="px-3">
                <img class="img-fluid w-6rem opacity-5" src="https://www.carlogos.org/car-logos/ford-logo-2003.png" alt="Brand 1">
            </div> 
            <div class="px-3">
                <img class="img-fluid w-6rem opacity-5" src="https://www.stickpng.com/assets/images/580b585b2edbce24c47b2c52.png" alt="Brand 1">
            </div> 
            <div class="px-3">
                <img class="img-fluid w-6rem opacity-5" src="https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c4a4.png" alt="Brand 1">
            </div> 
            <div class="px-3">
                <img class="img-fluid w-6rem opacity-5" src="https://logodownload.org/wp-content/uploads/2014/05/hyundai-logo.png" alt="Brand 1">
            </div> 
            <div class="px-3">
                <img class="img-fluid w-6rem opacity-5" src="https://banner2.cleanpng.com/20180204/uww/kisspng-volkswagen-group-wolfsburg-car-logo-volkswagen-png-pic-5a77bdec1c6f52.8569366015177968441165.jpg" alt="Brand 1">
            </div> 
        </div>
        </div>
      </section>  
  </div>
</template>

<script>
// @ is an alias to /src

// @ is an alias to /src
// import store from "@/store.js"

export default {
  name: "Home"
};
</script>
