<template>
    <div>
        <div class="container-fluid px-3">
        <div class="row min-vh-100">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 py-5 px-md-5 px-xl-6 position-relative text-left">
                    <form class="form-validate mt-5">
                        <div class="form-group">
                            <label class="form-label" for="loginUsername"> Tu correo</label>
                            <input class="form-control" name="loginUsername" id="loginUsername" type="email" placeholder="nombre@tucorreo.com" autocomplete="off" required data-msg="Please enter your email"></div>
                        <div class="form-group mb-4">
                            <div class="row">
                                <div class="col">
                                    <label class="form-label text-left" for="loginPassword"> Contraseña</label>
                                </div>
                                <div class="col-auto"><a class="form-text small" href="#">Olvide la contraseña</a></div>
                            </div>
                            <input class="form-control" name="loginPassword" id="loginPassword" placeholder="Contraseña" type="password" required data-msg="Please enter your password"></div>
                        <div class="form-group mb-4">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="loginRemember" type="checkbox"><label class="custom-control-label text-muted" for="loginRemember"> <span class="text-sm">Recordarme</span></label>
                            </div>
                        </div>
                        <!-- Submit-->
                        <button class="btn btn-lg btn-block btn-primary">Ingresar</button>
                        
                        <p class="text-center"><small class="text-muted text-center">¿No tienes una cuenta? 
                            <router-link :to="{name:'registrarse'}">Regístrate </router-link>
                            </small></p>
                    </form>
                    <hr>
                    <button class="btn btn-facebook btn-block">Ingresar con Facebook <i class="fab fa-facebook-f"></i></button>
                    <button class="btn btn-google btn-block">Ingresar con Google <i class="fab fa-google"></i></button>
                </div>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
    </div>
    </div>
</template>

<style scoped>
.btn-facebook {
    background: #1877f2;
    color:#fff;
}
.btn-google {
    background: #de5246;
    color:#fff;
}
</style>