<template>
    <div>
        <div class="container-fluid px-3">
        <div class="row min-vh-100">
            <div class="col-md-12 d-flex align-items-center">
                <div class="w-100 py-5 px-md-5 px-xl-6 position-relative text-left mt-6">
                    <div class="col-md-6"><h1>Regístrate</h1></div>
                    <form class="form-validate mt-3">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input class="form-control" name="nombre" 
                                type="text" placeholder="Nombres" autocomplete="off" 
                                required data-msg="Please enter your name">
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-control" name="apellidos" 
                                 type="text" placeholder="Apellidos" 
                                autocomplete="off" required data-msg="Tus Apellidos">
                            </div>

                            <div class="form-group col-md-6">
                                <input class="form-control" name="correo" 
                                type="email" placeholder="Correo / Email" autocomplete="off" 
                                required data-msg="Tu correo eléctronico">
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-control" name="celular" 
                                 type="number" placeholder="Número de celular" 
                                autocomplete="off" required data-msg="Tu número de celular">
                            </div>

                            <div class="form-group col-md-6">
                                <input class="form-control" name="password" 
                                type="password" placeholder="Contraseña" autocomplete="off" 
                                required data-msg="Contraseña">
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-control" name="password2" 
                                type="password" placeholder="Repita Contraseña" autocomplete="off" 
                                required data-msg="Repita Contraseña">
                            </div>
                        </div>

                        <!-- Submit-->
                        <div class="text-center">
                            <p class="text-muted">Al hacer click en Registrarse, acepta los <router-link :to="{name:'terminos'}">terminos y condiciones</router-link>, asi como es mayor de 18 años.</p>
                        <button class="btn btn-md btn-primary">Registrarse</button>
                        </div>
                        
                        <p class="text-center"><small class="text-muted text-center">¿Ya tienes una cuenta? 
                            <router-link :to="{name:'login'}">Ingresar </router-link>
                            </small></p>
                    </form>
                    <hr>
                    <div class="text-center">

                    <button class="btn btn-facebook">Registrarse con Facebook <i class="fab fa-facebook-f"></i></button>
                    <div class="mt-2"></div>
                    <button class="btn btn-google">Registrarse con Google <i class="fab fa-google"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<style scoped>
.btn-facebook {
    background: #1877f2;
    color:#fff;
}
.btn-google {
    background: #de5246;
    color:#fff;
}
</style>