<template>
    <footer class="position-relative z-index-10 d-print-none">
    <!-- Main block - menus, subscribe form-->
    <div class="py-6 bg-gray-200 text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="font-weight-bold text-uppercase text-dark mb-3">DAutos</div>
                    <p>Revista de autos y vehiculos de acación.</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="text-muted text-hover-primary" href="#" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="text-muted text-hover-primary" href="#" target="_blank" title="facebook"><i class="fab fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a class="text-muted text-hover-primary" href="#" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="text-muted text-hover-primary" href="#" target="_blank" title="pinterest"><i class="fab fa-pinterest"></i></a></li>
                        <li class="list-inline-item"><a class="text-muted text-hover-primary" href="#" target="_blank" title="vimeo"><i class="fab fa-vimeo"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase text-dark mb-3">Acerca</h6>
                    <ul class="list-unstyled">
                        <li><a class="text-muted" href="#">Nosotros</a></li>
                        <li><a class="text-muted" href="contacto.html">Contacto</a></li>
                        <li><a class="text-muted" href="#">Revista</a></li>
                        <li><hr></li>
                        <li><a class="text-muted" href="perfil.html">Perfil</a></li>
                        <li><a class="text-muted" href="cuenta.html">Cuenta</a></li>
                        <li><a class="text-muted" href="personal-info.html">Personal Info</a></li>
                        <li><hr></li>
                        <li><a class="text-muted" href="lista.html">Lista</a></li>
                        <li><a class="text-muted" href="lista-detalles.html">Lista Detalles</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase text-dark mb-3">Soporte</h6>
                    <ul class="list-unstyled">
                        <li><a class="text-muted" href="#">Terminos y Condiciones </a></li>
                        <li><a class="text-muted" href="#">Privacidad</a></li>
                        <li><a class="text-muted" href="#">Preguntas frecuentes </a></li>
                        
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h6 class="text-uppercase text-dark mb-3">Recibe avisos de nuevas publicaciones</h6>
                    <p class="mb-3"> Enterate primero de los nuevos anuncios que se publican en nuestra web.</p>
                    <form action="#" id="newsletter-form">
                        <div class="input-group mb-3">
                            <input class="form-control bg-transparent border-dark border-right-0" type="email" placeholder="Tu correo electrónico" aria-label="Tu correo electrónico">
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark border-left-0" type="submit"> <i class="fa fa-paper-plane text-lg"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright section of the footer-->
    <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-left">
                    <p class="text-sm mb-md-0">&copy; 2020, D'Autos SAC. Todo los derechos reservados.</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-right">
                        <li class="list-inline-item"><img class="w-2rem" src="/assets/images/img-visa.svg" alt="..."></li>
                        <li class="list-inline-item"><img class="w-2rem" src="/assets/images/img-mastercard.svg" alt="..."></li>
                        <li class="list-inline-item"><img class="w-2rem" src="/assets/images/img-paypal.svg" alt="..."></li>
                        <li class="list-inline-item"><img class="w-2rem" src="/assets/images/img-western-union.svg" alt="..."></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </footer>
</template>