<template>
    <header class="header">
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <router-link class="navbar-brand py-3"  :to="{name:'home'}"  style="line-height: 0;">
                    
                    <img class="navbar-brand-svg-text" src="/assets/images/dautos-logo-v1.png" width="120">
                    
                    </router-link>
                    <form class="form-inline d-none d-sm-flex" action="#" id="search">
                        <div class="input-label-absolute input-label-absolute-left input-reset input-expand ml-lg-2 ml-xl-3">
                            <label class="label-absolute" for="search_search"><i class="fa fa-search"></i><span class="sr-only">¿Qué auto estás buscando?</span></label>
                            <input class="form-control form-control-sm border-0 shadow-0 bg-gray-200" id="search_search" placeholder="Search" aria-label="Search"><button class="btn btn-reset btn-sm" type="reset"><i class="fa-times fas"></i></button>
                        </div>
                    </form>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                <!-- Navbar Collapse -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <form class="form-inline mt-4 mb-2 d-sm-none" action="#" id="searchcollapsed">
                        <div class="input-label-absolute input-label-absolute-left input-reset w-100">
                            <label class="label-absolute" for="searchcollapsed_search"><i class="fa fa-search"></i><span class="sr-only">¿Qué auto estás buscando?</span></label>
                            <input class="form-control form-control-sm border-0 shadow-0 bg-gray-200" id="searchcollapsed_search" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-reset btn-sm" type="reset"><i class="fa-times fas">  </i></button>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" v-if="!loggedIn">
                            <router-link class="nav-link" :to="{name:'login'}">Iniciar Sesión</router-link>
                        </li>
                        <li class="nav-item" v-else>
                            <router-link class="nav-link" :to="{name:'cuenta'}">Mi Cuenta</router-link>
                        </li>
                        <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block">
                            <router-link class="btn btn-primary" :to="{name:'publicar'}">Publicar</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /Navbar -->
    </header>
</template>
<script>
// import store from "@/store/index"
// store already imported in main.js
import auth from "../router/auth";

export default {
  data() {
    return {
      loggedIn: auth.loggedIn()
    };
  },
  created() {
    auth.onChange = loggedIn => {
      this.loggedIn = loggedIn;
    };
  }
};
</script>