<template>
    <div>
        <div v-if="this.$route.name == 'home'">
            <HeaderTransparent />
        </div>
        <div v-else>
            <HeaderWhite />
        </div>
    </div>
</template>
<script>
// import store from "@/store/index"
// store already imported in main.js
import HeaderTransparent from "../components/HeaderTransparent";
import HeaderWhite from "../components/HeaderWhite";

export default {
  components: {
    HeaderTransparent,
    HeaderWhite
  },
  data() {
    return {
      currentHeader: 0
    };
  },
  created(){
      this.currentHeader = this.$store.getters.getCurrentHeader;
      console.log("Route name: "+ this.$route.name)
  }
};
</script>